.header {
  height: 64px;
  width: 100%;
  background-color: #FFFFFF;
  display: flex;
  padding-left: 15px;
  align-items: center;
  max-width: 100%;
}

.header__menu-button {
  width: 58px;
  border-left: 1px solid rgba(0, 0, 0, 0.15);
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
  margin-left: auto;
  background: transparent;
  height: 100%;
  padding: 0;
}

.header__menu-icon {
  width: 18px;
  height: 13px;
  background-image: url("img/Shape.png");
  display: inline-block;
}

.navigation {
  display: none;
}

.header__button {
  display: none;
}

@media screen and (min-width: 1400px) {
  .top-section {
    background-color: #F3C6BD;
    padding-top: 39px;
  }
  .navigation {
    display: block;
    margin-top: 7px;
    margin-left: 335px;
    margin-right: 75px;
  }
  .header {
    width: 1140px;
    height: 62px;
    margin: auto;
    display: flex;
    background-color: #F3C6BD;
  }
  .header__button {
    display: block;
  }
  .logo__description {
    margin-left: 15px;
    line-height: 25px;
    font-size: 18px;
    color: #2B292D;
  }
  .header__button {
    display: block;
  }
  .logo__name {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #2B292D;
  }
  .logo__image {
    margin-right: 15px;
    width: 60px;
    height: 60px;
  }
  .header__menu-button {
    display: none;
  }
}
.navigation__item {
  color: #2B292D;
  text-decoration: none;
  line-height: 25px;
  font-size: 18px;
  margin-right: 50px;
}

.navigation__item_selected {
  font-weight: 700;
}

.navigation__item:last-child {
  margin-right: 0;
}

.navigation__arrow {
  margin-left: 11px;
  background-image: url(img/Arrow.png);
  display: inline-block;
  width: 8px;
  height: 5px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo__image {
  width: 48px;
  height: 48px;
  margin-right: 13px;
}

.logo__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 60px;
  color: #2B292D;
}

.logo__description {
  display: none;
}

.top-section {
  background-color: #F3C6BD;
}

.action__button {
  padding: 0;
  height: 48px;
  width: 160px;
  background-color: #3040C4;
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
  color: #FFFFFF;
  border: none;
  border-radius: 2px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
}

.footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

.footer__line {
  border-top: 1px solid #2B292D;
  width: 100%;
  margin-top: 40px;
  opacity: 0.1;
}

@media screen and (min-width: 1400px) {
  .footer__line {
    margin: 0;
  }
}
.footer-links {
  width: 100%;
  height: 50px;
  margin: 0 auto;
}

.footer-navigation {
  margin: 0;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1400px) {
  .footer-navigation {
    height: 338px;
    width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
  }
}
.footer__description {
  display: none;
  font-size: 18px;
  line-height: 26px;
  width: 360px;
  margin-top: 26px;
  margin-bottom: 0px;
  color: rgba(43, 41, 45, 0.6);
}

.downloads {
  margin-top: 31px;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1400px) {
  .downloads {
    display: block;
    margin-top: 25px;
  }
}
.downloads__item {
  margin-right: 10px;
}

.downloads__item:last-child {
  margin-right: 0;
}

.terms {
  line-height: 22px;
  font-size: 14px;
  margin-left: 15px;
}

@media screen and (min-width: 1400px) {
  .terms {
    line-height: 50px;
    font-size: 14px;
    margin-left: 0;
  }
}
.terms__items {
  text-decoration: none;
  color: rgba(43, 41, 45, 0.6);
  margin-right: 22px;
}

.social-links {
  margin-left: 15px;
  margin-top: 31px;
  padding-bottom: 15px;
}

@media screen and (min-width: 1400px) {
  .social-links {
    margin-left: auto;
  }
}
.social-links__item {
  margin-right: 20px;
  margin-left: 0px;
}

@media screen and (min-width: 1400px) {
  .social-links__item {
    margin-left: 20px;
    margin-right: 0px;
  }
}
.footer-links {
  display: block;
  margin-top: 30px;
}

@media screen and (min-width: 1400px) {
  .footer-links {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 1399px) {
  .footer-links {
    width: 1140px;
    flex-direction: row;
  }
}
.adittional-navigation {
  margin-top: 40px;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}

.adittional-navigation__right {
  margin-top: 30px;
}

@media screen and (min-width: 1399px) {
  .adittional-navigation {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-top: 60px;
  }
  .adittional-navigation__right {
    margin-top: 0;
  }
}
.adittional-navigation__left {
  margin-right: 29px;
}

.nav-links__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: #2B292D;
  margin: 0;
}

.nav-links__list {
  list-style-type: none;
  font-size: 18px;
  line-height: 30px;
  color: rgba(43, 41, 45, 0.6);
  padding: 0;
  margin: 0;
  margin-top: 18px;
  width: 265px;
}

.about-company {
  margin-top: 43px;
}

.logo-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-vertical__image {
  height: 60px;
  width: 60px;
}

.logo-vertical__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #2B292D;
  margin-top: 20px;
}

.logo-vertical__description {
  font-size: 18px;
  text-align: center;
  line-height: 25px;
  color: rgba(43, 41, 45, 0.6);
}

@media screen and (min-width: 1400px) {
  .logo-vertical {
    display: none;
  }
  .footer__description {
    display: block;
  }
}
@media screen and (max-width: 1399px) {
  .footer .logo {
    display: none;
  }
}
.headline {
  width: 100%;
}

.headline__content {
  margin: 35px 15px 33px 15px;
}

.headline__banner {
  width: 100%;
  margin-bottom: 36px;
}

.headline__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -0.3125px;
  color: #2B292D;
}

.headline__description {
  margin-top: 34px;
  margin-bottom: 0px;
  font-size: 24px;
  line-height: 34px;
  color: #2B292D;
}

.headline__buttons {
  margin-top: 30px;
}

.headline__learn-more-button {
  margin-top: 15px;
  width: 158px;
  height: 48px;
  background-color: #FFFFFF;
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
  color: #3040C4;
  border: none;
  border-radius: 2px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
}

@media screen and (max-width: 1399px) {
  .headline__buttons-btn {
    width: 100%;
  }
}
@media screen and (min-width: 1400px) {
  .headline__content {
    position: absolute;
    z-index: 1;
  }
  .headline {
    width: 1140px;
    margin: auto;
    position: relative;
    margin-top: 84px;
    display: flex;
    padding-bottom: 77px;
  }
  .headline__title {
    width: 754px;
    height: 165px;
    font-weight: bold;
    font-weight: 700;
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
    color: #2B292D;
  }
  .headline__description {
    margin-top: 34px;
    margin-bottom: 0px;
    height: 102px;
    width: 456px;
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;
  }
  .headline__buttons {
    margin-top: 58px;
    display: flex;
  }
  .headline__learn-more-button {
    margin-left: 10px;
    margin-top: 0;
  }
  .headline__banner {
    position: relative;
    right: -105px;
    top: 0;
    width: 796px;
    height: 448px;
    margin-left: auto;
  }
}
.about__container {
  flex-direction: column;
  background: #F4F5F7;
  padding: 46px 15px;
  width: 100%;
}
@media screen and (min-width: 1400px) {
  .about__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 77px 130px 76px 130px;
  }
}

.article {
  font-size: 22px;
  line-height: 32px;
}
.article__title {
  font-weight: 700;
  margin: 0;
  color: #2B292D;
}
.article__text {
  color: #2B292D;
  margin: 0;
}
.article:last-child {
  margin-top: 20px;
}
@media screen and (min-width: 1400px) {
  .article:last-child {
    margin-top: 0px;
  }
}
@media screen and (min-width: 1400px) {
  .article {
    width: 555px;
  }
}

.customers {
  display: flex;
  flex-direction: column;
}

.customers__row {
  display: flex;
}

.cusomers__item {
  height: 94px;
  width: 107px;
  border-bottom: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cusomers__item:last-child {
  border-right: none;
}

.customers__logo {
  filter: brightness(0);
  max-width: 80%;
}

@media screen and (min-width: 1400px) {
  .customers {
    display: flex;
    width: 1140px;
    padding-top: 30px;
    padding-bottom: 106px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  .cusomers__item {
    border: none;
  }
  .customers__row {
    flex: 1;
    justify-content: space-around;
  }
  .second {
    padding-bottom: 0px;
  }
}
.features {
  display: flex;
  position: relative;
}

@media screen and (max-width: 1399px) {
  .features {
    display: none;
  }
}
.features__content {
  width: 1140px;
  margin: auto;
  margin-top: 84px;
  display: flex;
  padding-bottom: 77px;
}

.features-column {
  width: 459px;
}

.features__subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: #009B4D;
  margin: 0;
}

.features__title {
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  width: 462px;
  height: 112px;
  margin-bottom: 0;
  margin-top: 24px;
  letter-spacing: -0.5px;
}

.features__description {
  font-size: 24px;
  line-height: 34px;
  color: #2B292D;
  width: 461px;
  margin-top: 30px;
  margin-bottom: 0px;
}

.features__advantage-header {
  margin-top: 42px;
  display: flex;
}

.features__advantage-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #3142C6;
  margin: 0;
  margin-left: 15px;
}

.features__advantage-description {
  margin-top: 8px;
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  padding-bottom: 20px;
  color: #2B292D;
  border-bottom: 3px solid #3142C6;
}

.features__advantage-item {
  border-bottom: 1px solid rgba(43, 41, 45, 0.1490196078);
  margin-top: 20px;
  padding-bottom: 22px;
  display: flex;
}

.features__advantage-item-text {
  margin-left: 15px;
  line-height: 26px;
  font-weight: 700;
  font-size: 22px;
}

.features__left-decoration {
  height: 166px;
  position: absolute;
  top: 340px;
}

.features__banner {
  position: absolute;
  right: 0;
  top: 80px;
  height: 597px;
}

.inbox {
  flex-direction: column;
  height: 100%;
  background-color: rgba(252, 240, 227, 0.6);
}

.right-column__feedback {
  margin-top: 44px;
  width: 519px;
  border-bottom: 4px solid #0185D0;
  margin-bottom: 0;
}

.inbox__left-column {
  padding: 50px 15px 32px 15px;
  display: flex;
  flex-direction: column;
}

.inbox__tagline {
  display: none;
}

.inbox__right-column {
  margin-top: 0;
  margin-left: 15px;
  margin-right: 15px;
  padding-bottom: 50px;
}

.team__title {
  margin-top: 17px;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.357143px;
  width: 100%;
  height: 100%;
}

.team-column {
  margin: 0;
}

.team__description {
  font-size: 24px;
  line-height: 34px;
  color: #2B292D;
  width: 100%;
  margin-top: 18px;
  margin-bottom: 0px;
  margin-left: 2px;
}

.right-column__feedback {
  margin-top: 30px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #FFFFFF;
  width: 100%;
  padding-bottom: 50px;
}

.feedback__text {
  font-size: 20px;
  line-height: 28px;
  color: #2B292D;
  padding: 30px 20px 26px 20px;
  margin: 0;
  width: 100%;
}

.feedback__profile {
  display: flex;
  flex-direction: column;
  margin-left: 11px;
}

.feedback__profile-img {
  padding-bottom: 24px;
}

.feedback__profile-container {
  display: flex;
  margin-left: 29px;
  padding-bottom: 30px;
}
@media screen and (min-width: 1399px) {
  .feedback__profile-container .feedback__profile-container {
    display: flex;
    margin-left: 20px;
    padding-bottom: 24px;
  }
}

.profile-name {
  font-weight: 700;
}

.profile-title {
  color: rgba(43, 41, 45, 0.6);
}

@media screen and (min-width: 1399px) {
  .inbox {
    display: flex;
    height: 790px;
    background: rgba(252, 240, 227, 0.6);
    flex-direction: row;
  }
  .inbox__left-column {
    margin-left: 193px;
    margin-top: 142px;
    display: flex;
    flex-direction: column;
  }
  .inbox__tagline {
    display: block;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: rgba(43, 41, 45, 0.6);
    margin-top: 15px;
  }
  .inbox__right-column {
    margin-top: 115px;
    margin-left: 164px;
  }
  .right-column__feedback {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #FFFFFF;
  }
  .team__subtitle {
    font-weight: 700;
    font-size: 22px;
    line-height: 34px;
    color: #F1592B;
    margin: 0;
    margin-left: 2px;
  }
  .team__description {
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;
    width: 461px;
    margin-top: 30px;
    margin-bottom: 0px;
    margin-left: 2px;
  }
  .team-column {
    margin-left: 26px;
  }
  .team__title {
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    width: 462px;
    height: 112px;
    margin-bottom: 0;
    margin-top: 24px;
    letter-spacing: -0.5px;
  }
  .right-column__feedback {
    margin-top: 44px;
    width: 519px;
    border-bottom: 4px solid #0185D0;
    margin-bottom: 0;
  }
  .feedback__text {
    font-size: 20px;
    line-height: 28px;
    color: #2B292D;
    padding: 30px 30px 26px 30px;
    margin: 0;
  }
  .feedback__text-bold {
    font-weight: 700;
  }
  .feedback__profile-container {
    display: flex;
    margin-left: 29px;
    padding-bottom: 24px;
  }
  .feedback__profile {
    display: flex;
    flex-direction: column;
    margin-left: 11px;
    line-height: 22px;
    font-size: 16px;
  }
}
.tips {
  margin-top: 8px;
}

.tip {
  padding: 40px 15px 0px 15px;
  border-bottom: 1px solid #E3E3E3;
}

.tip__subtitle {
  margin-top: 48px;
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: #009B4D;
}

.tip__figure {
  margin: 0;
  margin-bottom: 40px;
}

.tip__title {
  margin: 0;
  margin-top: 17px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.357143px;
  color: #2B292D;
}

.tip__description {
  margin: 0;
  margin-top: 15px;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: #2B292D;
}

.tip__image {
  margin-top: 30px;
  max-width: 100%;
}

.tip__image-description {
  margin-top: 20px;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: rgba(43, 41, 45, 0.6);
}

@media screen and (min-width: 1400px) {
  .tips {
    display: none;
  }
}
.communication {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.communication__left-column {
  margin: 50px 15px 40px 15px;
}

.communication__right-column {
  margin: 0 15px 50px 15px;
}

.communication__text-container {
  width: 100%;
}

.communication__subtitle {
  margin: 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: #0189D1;
}

.communication__title {
  margin: 0;
  margin-top: 17px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.357143px;
  color: #2B292D;
}

.communication__description {
  margin: 0;
  margin-top: 18px;
  font-size: 24px;
  line-height: 34px;
  color: #2B292D;
}

.communication__button {
  margin-top: 30px;
}

.communication__image-container {
  margin: 0;
}

.communication__tagline {
  margin: 0;
  display: block;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: rgba(43, 41, 45, 0.6);
}

.communication__image {
  margin-top: 40px;
  margin-bottom: 17px;
  width: 100%;
}

.communication__line {
  margin: 0;
  width: 150px;
  height: 1px;
  background: #000000;
  mix-blend-mode: normal;
  opacity: 0.1;
}

.communication__subscriptions {
  margin-top: 33px;
  font-size: 18px;
  line-height: 26px;
  color: #2B292D;
}

.communication__subscriptions:last-child {
  margin-top: 32px;
}

.communication-bold {
  font-weight: 700;
}

.communication__links {
  font-size: 18px;
  line-height: 26px;
}

.communication__subscriptions-block {
  display: block;
  margin: 0;
}

@media screen and (min-width: 1399px) {
  .communication__left-column {
    margin: 0;
    margin-bottom: 26px;
    display: flex;
  }
  .communication {
    margin: 110px 130px 110px 126px;
  }
  .communication__subtitle {
    margin-top: 13px;
    margin-left: 2px;
  }
  .communication__title {
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    color: #2B292D;
    margin-top: 24px;
  }
  .communication__description {
    margin-top: 30px;
    margin-left: 2px;
  }
  .communication__button {
    margin-top: 39px;
    margin-left: 4px;
  }
  .communication__image-container {
    margin-left: 194px;
  }
  .communication__text-container {
    width: 462px;
  }
  .communication__tagline {
    margin-top: 15px;
  }
  .communication__line {
    margin-left: 2px;
  }
  .communication__subscriptions-block {
    display: flex;
    margin-top: 41px;
    margin-left: 4px;
  }
  .communication__subscriptions-container {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    width: 360px;
  }
  .communication__subscriptions-container:last-child {
    margin: 0;
  }
  .communication__right-column {
    margin: 0;
  }
}
.audience {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 161, 198, 0.0705882353);
  padding: 50px 15px;
}
.audience__top-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-column__subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  text-align: center;
  color: #2B292D;
  margin: 0px;
}

.top-column__title {
  margin: 0px;
  margin-top: 17px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.357143px;
  color: #2B292D;
}
@media screen and (min-width: 1400px) {
  .top-column__title {
    margin-top: 24px;
  }
}

.top-column__description {
  margin-top: 18px;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  color: #2B292D;
}
@media screen and (min-width: 1400px) {
  .top-column__description {
    margin-top: 30px;
    margin-bottom: 34px;
  }
}

.user-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #FFFFFF;
  background-blend-mode: overlay, normal;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  margin-bottom: 15px;
}
.user-card:hover {
  background-color: #3141C5;
  cursor: pointer;
}
.user-card:hover .user-card__text {
  color: #FFFFFF;
}
.user-card:hover .user-card__text-biased {
  color: #FFFFFF;
}
.user-card.user-card:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 1400px) {
  .user-card {
    width: 262px;
    height: 300px;
    margin-left: 30px;
  }
}
.user-card__container {
  margin-top: 40px;
  display: block;
}
@media screen and (min-width: 1400px) {
  .user-card__container {
    margin-top: 0;
    display: flex;
    padding: 111px 131px 0px 130px;
  }
}
.user-card__developers {
  padding: 22px 76px;
}
@media screen and (min-width: 1400px) {
  .user-card__developers {
    padding: 22px 62px;
  }
}
.user-card__entertainment {
  padding: 22px 74px;
}
@media screen and (min-width: 1400px) {
  .user-card__entertainment {
    padding: 22px 60px;
  }
}
.user-card__athletes {
  padding: 22px 65px;
}
@media screen and (min-width: 1400px) {
  .user-card__athletes {
    padding: 22px 51px;
  }
}
.user-card__creators {
  padding: 22px 100px 22px 71px;
}
@media screen and (min-width: 1400px) {
  .user-card__creators {
    padding: 22px 72px 22px 71px;
  }
}
.user-card__text {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 33px;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  color: #2B292D;
}
.user-card__text-biased {
  padding-left: 25px;
  padding-right: 53px;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  color: #2B292D;
  padding-bottom: 33px;
}

@media screen and (min-width: 1400px) {
  .audience__top-column {
    display: block;
    padding: 108px 423px 0px 422px;
  }
  .audience__button-container {
    display: flex;
    margin: 0px 536px;
  }
  .headline__buttons-btn {
    padding: 0px;
  }
}
.feedback {
  display: flex;
  flex-direction: column;
  padding: 39px 15px 0px 15px;
}

.feeeback-line {
  margin-top: 50px;
}

.feedback__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #3142C6;
}

.feedback__description {
  font-size: 24px;
  line-height: 34px;
  color: #2B292D;
  margin-top: 29px;
  margin-bottom: 0px;
}

.feedback__profile-mobile {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
}

.feedback__buttons {
  margin-top: 40px;
  margin-left: 108px;
  margin-right: 107px;
  display: flex;
  justify-content: space-between;
}

.feedback__button {
  background-color: #3142C5;
  height: 12px;
  width: 12px;
}

.feedback__image {
  margin-top: 40px;
}

@media screen and (min-width: 1400px) {
  .feedback {
    padding: 0;
    position: relative;
  }
  .feedback__title {
    padding: 76px 130px 28px 130px;
    text-align: center;
  }
  .feedback__description {
    margin: 0;
    margin-left: 325px;
    margin-right: 325px;
    text-align: center;
  }
  .feedback__profile-mobile {
    margin-top: 34px;
    margin-left: 588px;
    margin-right: 587px;
    text-align: center;
  }
  .feedback__buttons {
    margin-left: 675px;
    margin-right: 675px;
  }
  .feedback__button {
    height: 8px;
    width: 8px;
  }
  .feedback__image {
    margin: 0;
    height: 243px;
    width: 273px;
    position: absolute;
    left: 78.64%;
    right: 1.86%;
    top: 51%;
    bottom: 0%;
  }
  .feeeback-line {
    margin-top: 67px;
  }
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Work Sans";
}

.page {
  width: 100%;
  overflow-x: hidden;
}

@media screen and (min-width: 1399px) {
  .page {
    width: 1400px;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1400px) {
  .hide_desktop {
    display: none;
  }
}

@media screen and (max-width: 1399px) {
  .hide_mobile {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
