.feedback {
    display: flex;
    flex-direction: column;
    padding: 39px 15px 0px 15px;
}

.feeeback-line {
    margin-top: 50px;
}

.feedback__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #3142C6;
}

.feedback__description {
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;
    margin-top: 29px;
    margin-bottom: 0px;
}

.feedback__profile-mobile {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
}

.feedback__buttons {
    margin-top: 40px;
    margin-left: 108px;
    margin-right: 107px;
    display: flex;
    justify-content: space-between;
}

.feedback__button {
    background-color: #3142C5;
    height: 12px;
    width: 12px;
}

.feedback__image {
    margin-top: 40px;
}

@media screen and (min-width:1400px) {
    .feedback {
        padding: 0;
        position: relative;
    }
    .feedback__title {
        padding: 76px 130px 28px 130px;
        text-align: center;
    }
    .feedback__description {
        margin: 0;
        margin-left: 325px;
        margin-right: 325px;
        text-align: center;
    }
    .feedback__profile-mobile {
        margin-top: 34px;
        margin-left: 588px;
        margin-right: 587px;
        text-align: center;
    }
    .feedback__buttons {
        margin-left: 675px;
        margin-right: 675px;
    }
    .feedback__button {
        height: 8px;
        width: 8px;
    }
    .feedback__image {
        margin: 0;
        height: 243px;
        width: 273px;
        position: absolute;
        left: 78.64%;
        right: 1.86%;
        top: 51.0%;
        bottom: 0%;
    }
    .feeeback-line {
        margin-top: 67px;
    }
}