@import 'breakpoints.scss';
@import 'header.scss';
@import 'variables.scss';
@import 'footer.scss';
@import 'headline.scss';
@import 'about.scss';
@import 'customers.scss';
@import 'features.scss';
@import 'inbox.scss';
@import 'features-mobile.scss';
@import 'communication.scss';
@import 'audience.scss';
@import 'feedback.scss';
* {
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans';
}

.page {
    width: 100%;
    overflow-x: hidden;
}

@media screen and (min-width: 1399px) {
    .page {
        width: 1400px;
        margin: auto;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
}

.hide_desktop {
    @include for-large-up {
        display: none;
    }
}

.hide_mobile {
    @include for-large-down {
        display: none;
    }
}